<p id="notice"><%= notice %></p>

<h1>Feeds</h1>
<%= link_to 'New Feed', new_feed_path %>


<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td colspan="5"><%= image_tag feed.image.url %></td>
      </tr>
      <tr>
        <td><%= feed.image.url %></td>
        <td><p>Posted by <%= feed.user.name %></p></td>
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td colspan="5">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
