<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<div class="feeds">
  <% @feeds.each do |feed| %>
    <p><%= image_tag feed.image.url %></p>
    <p class="title"><strong><%= feed.content %></strong> by <%= feed.user.name %></p>
    <p><%= link_to 'Show', feed %> | <%= link_to 'Edit', edit_feed_path(feed) %> | <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  <% end %>
</div>