<p><strong>Image</strong></p>
<p><%= image_tag @feed.image.url %></p>
<p>File name: <%= @feed.image.url %></p>
<p>Title: <%= @feed.content %></p>
<p>Posted by <%= @feed.user.name %></p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
